body{
    min-height: 150vh;
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");;
}
.navigation-bar{
    background-color: rgb(64, 68, 62);
    color: rgb(150, 148, 144);
    padding:20px 30px 30px 0px;
    
    
}
.links{
    position: fixed;
    top: 0px;
    left: 0px;
}
a:hover{
    color:azure;
    transform:scale(10)
}
a{
    color:rgb(17, 141, 190)
}
.about{
    background-color: dimgrey;
    text-align: center;
    border-radius: 5%;
    
}
.projects{
    background-color: rgb(74, 76, 78);
}
.resume{
    background-color: darkslategrey;
}
.contacts{
    background-color: darkslategrey;
}
.footer{
    background-color: rgb(26, 25, 25);
    text-align: center;
    padding: 30px;
    line-height: 0.5;

}
.picture{
    border-radius: 50%;
}
.contacts{
    padding:30px;
}
.pesa{
    width: 100%;
}
.paswd{
    width: 100%;
}